<?xml version="1.0"?>

<robot name="bluerov">
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.235 0.175 .005"/>
      </geometry>
      <origin xyz="0 0 0"/>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>

  <link name="fcu">
    <visual>
      <geometry>
        <box size="0.10 .05 .01"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>

  <!-- <link name="enclosure">
    <visual>
      <geometry>
        <cylinder length="0.02" radius="0.04"/>
      </geometry>
    </visual>
  </link>

  <link name="camera">
    <visual>
      <geometry>
        <box size="0.06 .28 .03"/>
      </geometry>
      <origin rpy="0 0.05 0" xyz="-0.03 0 0"/>
    </visual>
  </link>

  <link name="imu">
    <visual>
      <geometry>
        <box size="0.326 0.206 .003"/>
      </geometry>
      <origin xyz="0 0 -0.0015"/>
      <material name="polycarb">
        <color rgba="1 1 1 0.4"/>
      </material>
    </visual>
  </link> -->

  <link name="thruster0">
    <visual>
      <geometry>
        <cylinder length="0.100" radius="0.048"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>

  <joint name="base_link_to_thruster0" type="fixed">
    <parent link="base_link"/>
    <child link="thruster0"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <joint name="base_link_to_fcu" type="fixed">
    <parent link="base_link"/>
    <child link="fcu"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <!-- <joint name="base_link_to_camera_link" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin rpy="0 -0.05 0" xyz="-0.112 0.0 0.230"/>
  </joint>

  <joint name="base_link_to_top_plate" type="fixed">
    <parent link="base_link"/>
    <child link="top_plate"/>
    <origin xyz="0 0.0 0.147"/>
  </joint> -->

</robot>
