<?xml version="1.0"?>

<launch>
  <!-- start the joystick driver -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy_node" output="screen">
    <param name="dev" value="/dev/input/js0" type="string"/>
  </node>

  <!-- start the teleop app -->
  <node pkg="rover" type="teleop_joy" name="teleop_joy" output="screen" required="true"></node>
</launch>
