SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0010", SYMLINK+="apm"
KERNEL=="ttyACM[0-9]*", NAME="tts/ACM%n", SYMLINK+="%k", GROUP="uucp", MODE="0666"
# KERNEL=="ttyACM0", MODE="0666
