#!/usr/bin/env python

# http://wiki.ros.org/dynamic_reconfigure/Tutorials/HowToWriteYourFirstCfgFile
# gen.add(name, type, level, description, default, min, max)
# gen.generate(package, node_name, header_prefix)

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# set bias parameters
linear_max = 10  # m/s
gen.add("front_strafe_decouple",   double_t, 0, "scales power of front vertical thrusters during strafe movement", 0.5, -1, 1)
gen.add("front_forward_decouple",   double_t, 0, "scales power of front vertical thrusters during forward movement", -0.13, -1, 1)
gen.add("front_pitch_bias",   double_t, 0, "scales power of front vertical thrusters during pitch", 0.5, 0, 1)
gen.add("front_vertical_bias",   double_t, 0, "scales power of front vertical thrusters during ascent/descent", 0.75, 0, 1)
gen.add("buoyancy_control",   double_t, 0, "applies a constant vertical force in m/s", 0, -linear_max, linear_max)

# generate the config headers
exit(gen.generate("bluerov", "simple_pilot", "simple_pilot"))
