<?xml version="1.0"?>

<launch>
  <param name="robot_description" textfile="$(find bluerov)/robots/bluerov.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <arg name="model" />
  <arg name="gui" default="False" />
  <param name="use_gui" value="$(arg gui)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
</launch>
