<?xml version="1.0"?>

<launch>
  <arg name="bagfile" default="$(find bluerov)/export.bag" />
  <arg name="output" default="output.avi" />
  <arg name="fps" default="30" />
  <arg name="codec" default="MJPG" />
  <arg name="encoding" default="bgr8" />

  <!-- <param name="/use_sim_time" value="true" /> -->

  <node pkg="rosbag" type="play" name="rosbag" args="-d 2 -r 0.5 $(arg bagfile)"/>

  <!-- rosrun image_view extract_images image:=/camera/image _image_transport:=compressed -->
  <!-- <node pkg="image_transport" type="republish" name="republish" output="screen" args="compressed in:=/camera/image/compressed raw out:=/camera/image/raw"/> -->
  <!-- <node pkg="image_view" type="extract_images" name="extract" respawn="false" output="screen" cwd="ROS_HOME">
    <param name="image_transport" value="compressed"/>
    <remap from="image" to="/camera/image"/>
    <param name="filename_format" value="$(arg output)/image%04i.$(arg format)"/>
  </node> -->

  <!-- rosrun image_view video_recorder image:=/camera/image _image_transport:=compressed _fps:=30 -->
  <!-- <node pkg="image_view" type="video_recorder" name="extract" respawn="false" output="screen" cwd="ROS_HOME">
    <remap from="image" to="/camera/image"/>
    <param name="image_transport" value="compressed"/>
    <param name="filename" value="$(arg output)"/>
    <param name="fps" value="$(arg fps)"/>
    <param name="codec" value="$(arg codec)"/>
    <param name="encoding" value="$(arg encoding)"/>
  </node> -->
</launch>
