<?xml version="1.0"?>

<launch>
  <!-- <env name="ROSCONSOLE_CONFIG_FILE" value="$(find bluerov)/rosconsole.conf"/> -->

  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="base_footprint_frame" value="base_link"/>
    <param name="output_frame" value="odom"/>
    <param name="freq" value="10.0"/>
    <param name="sensor_timeout" value="10.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="gps_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>

    <remap from="imu_data" to="mavros/imu/data"/>
    <remap from="odom" to="fake_odom_init"/>
    <remap from="robot_pose_ekf/odom_combined" to="odom"/>
  </node>
</launch>
