<?xml version="1.0"?>

<launch>
  <!-- https://github.com/fpasteau/raspicam_node -->
  <node respawn="true" pkg="raspicam" type="raspicam_node" name="raspicam">
    <param name="width" value="640" type="int"/>
    <param name="height" value="480" type="int"/>
    <param name="framerate" value="30" type="int"/>
    <param name="quality" value="80" type="int"/>
  </node>

  <!-- trigger the camera -->
  <node pkg="rosservice" type="rosservice" name="raspicam_start" args="call --wait /camera/start_capture"/>
</launch>
