<?xml version="1.0"?>

<launch>
  <!-- roscore automatically started by roslaunch -->

  <!-- start publishing transforms -->
  <!-- <arg name="model" />
  <arg name="gui" default="False" />
  <param name="robot_description" textfile="$(find bluerov)/extra/bluerov.urdf" />
  <param name="use_gui" value="$(arg gui)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" /> -->

  <!-- start arduino -->
  <!-- <include file="$(find bluerov)/launch/serial.launch" /> -->

  <!-- start pilot -->
  <include file="$(find bluerov)/launch/pilot.launch" />
</launch>
