<?xml version="1.0"?>

<launch>
  <node respawn="true" pkg="bluerov" type="pilot" name="pilot" output="screen">
    <param name="~n_thrusters" value="6" type="int"/>
    <param name="~pub_rate" value="20.0" type="double"/>
    <param name="~min_thruster_output" value="1100" type="int"/>
    <param name="~max_thruster_output" value="1900" type="int"/>
  </node>
</launch>
