# Test Results

## 2015/06/14 - Pool Test

* Who: Rusty, Josh
* Vehicle: BlueROV R1
* Location: Residential pool, Gardena, CA

![BlueROV](bluerov_r1.jpg)

First test of the ROS-based control software.

## 2015/05/01 - Camera Test

Video Streaming with the Raspberry Pi camera and [raspicam_node](https://github.com/fpasteau/raspicam_node) in ROS:

* 640 x 480, 90 fps, 10% quality - 100 ms latency
* 640 x 480, 30 fps, 80% quality - 100 ms latency
* 640 x 480, 30 fps, 20% quality - 100 ms latency
* 1440 x 1080, 30 fps, 20% quality - 150 ms latency
* 1440 x 1080, 30 fps, 80% quality - 500 ms latency

## 2015/03/10 - Pool Test

* Who: Rusty, Joe, Josh
* Vehicle: BlueROV R0
* Location: Residential pool, Gardena, CA

![BlueROV](bluerov_r0.png)

First integrated test of the BlueRov hardware. Used quick and dirty custom APM software with Python xbox controller integration.
